<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Train Notifications</title>

  <link rel="shortcut icon" href="/img/favicon.png" />
</head>
<body>
  <div id="notifications"></div>

  <script>
    async function fetchNotifications() {
      const response = await fetch('/v1/api/reminder/:reminderId');
      const users = await response.json();
      
      let notifications = '';
      
      users.forEach(user => {
        user.reminders.forEach(reminder => {
          if (new Date() >= new Date(reminder.date) && !reminder.sent) {
            notifications += `<div>Reminder: ${reminder.message}</div>`;
            updateReminder(user._id, reminder._id); // Mark reminder as sent
          }
        });
        
        user.goals.forEach(goal => {
          if (goal.currentProgress >= goal.target) {
            notifications += `<div>Congratulations! You have achieved your goal: ${goal.goalType}</div>`;
          }
        });
      });
    
      document.getElementById('notifications').innerHTML = notifications;
    }
    
    async function updateReminder(userId, reminderId) {
      await fetch(`/v1/api/reminder/${reminderId}`, {
        method: 'PUT',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ sent: true }),
      });
    }
    
    fetchNotifications();
    
  </script>
</body>
</html>
