.profile-container {
    padding: 20px;
    width: 80%;
    max-width: 800px;
    text-align: center;
}

.profile-header {
    font-size: 2rem;
    margin-bottom: 30px;
}

.profile-info {
    text-align: left;
    margin-bottom: 20px;
}

.profile-info p {
    margin: 5px 0;
}

.section-header {
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list-item {
    background-color: #f1f1f1;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

.update-button {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
}

.update-button:hover {
    background-color: #0056b3;
}